name: Pre Merge Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    if: ${{ !contains(github.event.head_commit.message, 'ci skip') }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Cache Gradle Caches
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches/
          key: cache-gradle-cache
      - name: Cache Gradle Wrapper
        uses: actions/cache@v1
        with:
          path: ~/.gradle/wrapper/
          key: cache-gradle-wrapper
      #- name: Run Gradle tasks
      #  run: ./gradlew build check publishToMavenLocal --continue
      - name: Run unit tests
        run: ./gradlew testDebugUnitTest --stacktrace
      - name: Stop Gradle
        run: ./gradlew --stop

  apk:
    name: Generate APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build debug APK
        run: bash ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: SampleApp
          path: app/build/outputs/apk/debug/app-debug.apk

  instrumentation-tests:
      name: Instrumentation tests
      runs-on: macos-latest
      timeout-minutes: 30
      strategy:
        # Allow tests to continue on other devices if they fail on one device.
        fail-fast: false
        matrix:
          api-level:
            - 21
            - 23
            - 26
            - 29
      steps:
        - uses: actions/checkout@v2
        - name: Set up JDK 1.8
          uses: actions/setup-java@v1
          with:
            java-version: 1.8

        - name: Instrumentation Tests
          uses: reactivecircus/android-emulator-runner@v2
          with:
            api-level: ${{ matrix.api-level }}
            arch: x86_64
            script: ./gradlew connectedCheck --no-build-cache --no-daemon --stacktrace

        - name: Upload results
          uses: actions/upload-artifact@v2
          with:
            name: insrumentation-test-results
            path: ./**/build/reports/androidTests/connected/**